# Show login banner
Banner /etc/issue.net
PrintMotd no

# SSH Protocol & Port
Port {{ ssh_port | default(22) }}
Protocol 2

# Authentication
AllowUsers {{ ssh_users | default(homelab_user) }}
ChallengeResponseAuthentication no
HostbasedAuthentication no
LoginGraceTime 120
PasswordAuthentication {{ passwd_auth | default("no") }}
PermitEmptyPasswords no
PermitRootLogin {{ permitrootlogin | default("prohibit-password") }}
PubkeyAuthentication yes
StrictModes yes
UsePAM yes

# Host keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_dsa_key

# Security
IgnoreRhosts yes

# Environment and keepalive
AcceptEnv LANG LC_*
TCPKeepAlive yes

# SFTP subsystem
Subsystem sftp {{ sftp_path | default("/usr/lib/openssh/sftp-server") }}

# Logging
SyslogFacility AUTH
LogLevel INFO
